.card {
  background-color: beige;
  color: #333;
  border-radius: 10px;
  border: 2px solid black;
  margin: 0 auto;
  padding: 2em;
  text-align: center;

  .term {
    font-size: 64pt;
  }

  .definition {
    opacity: 0;

    &.reveal {
      opacity: 1;
      transition: opacity 200ms ease-in;
    }
  }
}
