.card {
  background-color: beige;
  color: #333;
  border-radius: 10px;
  border: 2px solid black;
  margin: 0 auto;
  padding: 2em;
  text-align: center;

  position: absolute;
  top: 7em;
  min-width: 250px;

  &.satisfied {
    animation: satisfied 1000ms ease-out forwards;
  }

  &.dissatisfied {
    animation: dissatisfied 1000ms ease-out forwards;
  }

  .term {
    font-size: 64pt;
  }

  .definition {
    opacity: 0;

    &.reveal {
      opacity: 1;
      transition: opacity 200ms ease-in;
    }
  }
}

@keyframes satisfied {
  25% {
    opacity: 1;
  }

  75% {
    translate: 200%;
    opacity: 0;
  }

  100% {
    rotate: 30deg;
    opacity: 0;
  }
}

@keyframes dissatisfied {
  25% {
    opacity: 1;
  }

  75% {
    translate: -200%;
    opacity: 0;
  }

  100% {
    rotate: -30deg;
    opacity: 0;
  }
}
