.deck {
  .metaData {
    text-align: center;
  }

  .animationAnchor {
    position: relative;
  }

  .celebrateLearnt::after {
    content: '🌟';
    position: absolute;
    left: 0;
    top: -1.25em;
    opacity: 0;
    font-size: 12pt;
    width: 100%;
    animation: celebrate 1000ms ease-out forwards;
  }
}

@keyframes celebrate {
  0% {
  }

  50% {
    opacity: 1;
  }

  75% {
    scale: 2;
  }

  90% {
    top: -4em;
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: -4em;
    scale: 4;
  }
}
